{% if catalogs %}
<h4 class="ui horizontal section divider header">{{ 'bitbag_sylius_catalog_plugin.ui.catalogs'|trans }}</h4>

{% for catalogData in catalogs %}
    {% set catalog = catalogData.catalog %}
    {% set products = catalogData.products %}
    {% if catalog.template is empty %}
        {% include '@BitBagSyliusCatalogPlugin/Catalog/Templates/showProductsCart.html.twig' %}
    {% else %}
        {% include catalog.template %}
    {% endif %}
{% endfor %}
{% endif %}
