<h2 class="ui center aligned huge header">{{ 'sylius.ui.latest_products'|trans }}</h2>
<div class="ui hidden divider"></div>

{{ bitbag_render_product_catalog("9") }}
<div class="ui hidden divider"></div>
