{% extends '@SyliusShop/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/bitbagsyliuscatalogplugin/css/bitbag-catalog.css'} %}
{% endblock %}

{% block content %}
    <div class="top one">
    </div>

    <div class="ui stackable one column grid">
        <div class="column intro promo">
            Test catalog  shown on homepage:

            {{ bitbag_render_product_catalog("test_catalog") }}
        </div>
    </div>

{% endblock %}
